
.board {
  background-color: $bg-color_light;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discover {
  background-image: url("/images/bg-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
  position: relative;
  z-index: -3;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -3;
  }

  &__board {
    width: 300px;
    height: 150px;
    h2{
      font-family: $font-primary;
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 700;
    }
    @include tablet{
      width: 450px;
      height: 220px;
      h2{
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  }
  &__btn{
margin-top: 15px;
    @include tablet{
      margin-top: 30px;
    }
  }
}
