.exerciseInfo {
  position: absolute;
  height: 50vh;
  width: 50vw;

  &__board {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: $font_primary;
    font-size: 1.3rem;
    margin: 20px 0;
  }
}