.userPlans {

  //width: 100%;
  width: calc(100% - 190px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


  &__title {
    font-family: $font-primary;
    font-size: 2.0rem;
    color: $text_color_orange;
    margin: 20px 0;
  }

  &__display {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    //overflow-y: auto;
    height: calc(100vh - 460px);
    @include desktop {
      height: calc(100vh - 440px);
    }
  }


  &__box {
    border: 1px solid black;
    height: 100%;
    min-height: 200px;
    width: 100px;
    background-color: $bg-color_transparent;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__box-add {
    border: 2px solid $border_color_red;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    font-size: 0.9rem;
    padding: 5px;
    margin: 5px 0;
    @include desktop {
      font-size: 0.9rem;
      padding: 5px 5px;
    }
  }

  .hidden {
    display: none;
  }

}
