$bg_color_dark: #303841;
$bg_color_light: #eeeeee;
$bg_color_transparent: rgba(48,56,65,0.6);
$bg_color_transparent_light: rgba(238, 238, 238, 0.6);

$text_color_dark: #acafb1;
$text_color_light: #eeeeee;
$text_color_green: #00adb5;
$text_color_orange: #ff5722;

$button_color_orange: #ff5722;
$button_color_green: #00adb5;

$border_color_green: #00adb5;
$border_color_red: #ff5722;

$messageSuccess_color: #00adb5;
$messageWarning_color: #ff5722;

$font_primary: 'Roboto', sans-serif;
$font_secondary: 'Pacifico', cursive;
